*{
	border: 0;
	margin: 0;
	padding: 0;
}
nav{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
nav ul{
	width: 100%;
}
nav ul li{
	border-bottom: 1px solid steelblue;
	font-size: 1.2em;
	padding: 0.3em;
	text-align: center;
}
nav ul a{
	text-decoration: none;
}
section#principal{
	display: inline-block;
	vertical-align: top;
	width: 65%;
}
form{
	border: 1px solid steelblue;
	border-radius: 5px;	
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	width: 70%;
}
form input{
	border: 1px solid steelblue;
	font-size: 1em;
	margin: 0.5em auto;
}
form input[type="submit"]{
	background-color: steelblue;
	color: white;
	padding: 0.2em;
}
table{
	margin-top: 1em;
	text-align: center;
	width: 100%;
}
table th{
	background-color: steelblue;
	color: white;
	padding: 0.2em;
}
table tr:nth-child(odd){
	background-color: #ddf;
}
table td{
	padding: 0.2em;
}
.eliminar{
	border: 0;
	padding: 0;
}
#myChart{
	vertical-align: top;
	width: 100%;
}